FROM ubuntu:18.04
WORKDIR node
ENV DATADIR={{.Volume}}
RUN  apt-get update && apt-get install -y wget
RUN mkdir -p "{{.Volume}}"
ADD snapshot.tar.gz "{{.Volume}}"
ENTRYPOINT ["echo", "hello {{.Volume}}"]
